.grid{
  display: flex;
  flex-wrap: wrap;
  margin-left: $space-1;
  margin-right: $space-1;
  margin-bottom: $space-2;
  > *{
    flex-basis: 100%;
    max-width: 100%;
    margin-left: $space-1;
    margin-right: $space-1;
    margin-bottom: $space-2;
  }
}

.col{
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@for $i from 1 through $grid-colums{
  .col-#{$i}{
    flex-basis: calc(#{col-width($i)} - #{$space-2});
    max-width: calc(#{col-width($i)} - #{$space-2}) ;
  }
}