//Flex
.flex{display: flex;}
.inline-flex{display: inline-flex;}
.f-center{align-items: center; justify-content: center;}
.f-wrap{flex-wrap: wrap;}
.f-nowrap{flex-wrap: nowrap;}
.f-column{flex-direction: column;}
.f-column-reverse{flex-direction: column-reverse;}
.f-row{flex-direction: row;}
.f-row-reverse{flex-direction: row-reverse;}

//Aling İtems
.ai-start{align-items: flex-start;}
.ai-end{align-items: flex-end;}
.ai-center{align-items: center;}
.ai-baseline{align-items: baseline;}

//Justify Content
.justify-start { justify-content: flex-start;}
.justify-end { justify-content: flex-end;}
.justify-center { justify-content: center;}
.justify-between { justify-content: space-between;}

//Flex Items
.flex-grow { flex-grow: 1;}
.flex-grow-0 {flex-grow: 0;}
.flex-shrink {flex-shrink: 1;}
.flex-shrink-0 {flex-shrink: 0;}
.flex-basis-0 {flex-basis: 0;}

//Flex Order
.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}