//Margin
.ma\:0{margin: $space-0;}
.ma\:xxs{margin: $space-1;}
.ma\:xs{margin: $space-2;}
.ma\:sm{margin: $space-3;}
.ma\:md{margin: $space-4;}
.ma\:lg{margin: $space-5;}
.ma\:xl{margin: $space-6;}
.ma\:xxl{margin: $space-7;}


//Margin-left
.ml\:0{margin-left: $space-0;}
.ml\:xxs{margin-left: $space-1;}
.ml\:xs{margin-left: $space-2;}
.ml\:sm{margin-left: $space-3;}
.ml\:md{margin-left: $space-4;}
.ml\:lg{margin-left: $space-5;}
.ml\:xl{margin-left: $space-6;}
.ml\:xxl{margin-left: $space-7;}

//Margin-rigt
.mr\:0{margin-right: $space-0;}
.mr\:xxs{margin-right: $space-1;}
.mr\:xs{margin-right: $space-2;}
.mr\:sm{margin-right: $space-3;}
.mr\:md{margin-right: $space-4;}
.mr\:lg{margin-right: $space-5;}
.mr\:xl{margin-right: $space-6;}
.mr\:xxl{margin-right: $space-7;}

//Margin-x
.mx\:0{margin-right: $space-0; margin-left: $space-0;}
.mx\:xxs{margin-right: $space-1; margin-left: $space-1}
.mx\:xs{margin-right: $space-2; margin-left: $space-2}
.mx\:sm{margin-right: $space-3; margin-left: $space-3}
.mx\:md{margin-right: $space-4; margin-left: $space-4}
.mx\:lg{margin-right: $space-5; margin-left: $space-5}
.mx\:xl{margin-right: $space-6; margin-left: $space-6;}
.mx\:xxl{margin-right: $space-7; margin-left: $space-7}

//Margin-y
.my\:0{margin-top: $space-0; margin-bottom: $space-0;}
.my\:xxs{margin-top: $space-1; margin-bottom: $space-1}
.my\:xs{margin-top: $space-2; margin-bottom: $space-2}
.my\:sm{margin-top: $space-3; margin-bottom: $space-3}
.my\:md{margin-top: $space-4; margin-bottom: $space-4}
.my\:lg{margin-top: $space-5; margin-bottom: $space-5}
.my\:xl{margin-top: $space-6; margin-bottom: $space-6;}
.my\:xxl{margin-top: $space-7; margin-bottom: $space-7}