//Margin
.is-ma-0{margin: $space-0;}
.is-ma-1{margin: $space-1;}
.is-ma-2{margin: $space-2;}
.is-ma-3{margin: $space-3;}
.is-ma-4{margin: $space-4;}
.is-ma-5{margin: $space-5;}
.is-ma-6{margin: $space-6;}
.is-ma-7{margin: $space-7;}


//Margin-left
.is-ml-0{margin-left: $space-0;}
.is-ml-1{margin-left: $space-1;}
.is-ml-2{margin-left: $space-2;}
.is-ml-3{margin-left: $space-3;}
.is-ml-4{margin-left: $space-4;}
.is-ml-5{margin-left: $space-5;}
.is-ml-6{margin-left: $space-6;}
.is-ml-7{margin-left: $space-7;}

//Margin-rigt
.is-mr-0{margin-right: $space-0;}
.is-mr-1{margin-right: $space-1;}
.is-mr-2{margin-right: $space-2;}
.is-mr-3{margin-right: $space-3;}
.is-mr-4{margin-right: $space-4;}
.is-mr-5{margin-right: $space-5;}
.is-mr-6{margin-right: $space-6;}
.is-mr-7{margin-right: $space-7;}

//Margin-x
.is-mx-0{margin-right: $space-0; margin-left: $space-0;}
.is-mx-1{margin-right: $space-1; margin-left: $space-1}
.is-mx-2{margin-right: $space-2; margin-left: $space-2}
.is-mx-3{margin-right: $space-3; margin-left: $space-3}
.is-mx-4{margin-right: $space-4; margin-left: $space-4}
.is-mx-5{margin-right: $space-5; margin-left: $space-5}
.is-mx-6{margin-right: $space-6; margin-left: $space-6;}
.is-mx-7{margin-right: $space-7; margin-left: $space-7}

//Margin-y
.is-my-0{margin-top: $space-0; margin-bottom: $space-0;}
.is-my-1{margin-top: $space-1; margin-bottom: $space-1}
.is-my-2{margin-top: $space-2; margin-bottom: $space-2}
.is-my-3{margin-top: $space-3; margin-bottom: $space-3}
.is-my-4{margin-top: $space-4; margin-bottom: $space-4}
.is-my-5{margin-top: $space-5; margin-bottom: $space-5}
.is-my-6{margin-top: $space-6; margin-bottom: $space-6;}
.is-my-7{margin-top: $space-7; margin-bottom: $space-7}