//Margin
.pa\:0{padding: $space-0;}
.pa\:xxs{padding: $space-1;}
.pa\:xs{padding: $space-2;}
.pa\:sm{padding: $space-3;}
.pa\:md{padding: $space-4;}
.pa\:lg{padding: $space-5;}
.pa\:xl{padding: $space-6;}
.pa\:xxl{padding: $space-7;}


//Margin-left
.pl\:0{padding-left: $space-0;}
.pl\:xxs{padding-left: $space-1;}
.pl\:xs{padding-left: $space-2;}
.pl\:sm{padding-left: $space-3;}
.pl\:md{padding-left: $space-4;}
.pl\:lg{padding-left: $space-5;}
.pl\:xl{padding-left: $space-6;}
.pl\:xxl{padding-left: $space-7;}

//Margin-rigt
.mr\:0{padding-right: $space-0;}
.mr\:xxs{padding-right: $space-1;}
.mr\:xs{padding-right: $space-2;}
.mr\:sm{padding-right: $space-3;}
.mr\:md{padding-right: $space-4;}
.mr\:lg{padding-right: $space-5;}
.mr\:xl{padding-right: $space-6;}
.mr\:xxl{padding-right: $space-7;}

//Margin-x
.px\:0{padding-right: $space-0; padding-left: $space-0;}
.px\:xxs{padding-right: $space-1; padding-left: $space-1}
.px\:xs{padding-right: $space-2; padding-left: $space-2}
.px\:sm{padding-right: $space-3; padding-left: $space-3}
.px\:md{padding-right: $space-4; padding-left: $space-4}
.px\:lg{padding-right: $space-5; padding-left: $space-5}
.px\:xl{padding-right: $space-6; padding-left: $space-6;}
.px\:xxl{padding-right: $space-7; padding-left: $space-7}

//Margin-y
.py\:0{padding-top: $space-0; padding-bottom: $space-0;}
.py\:xxs{padding-top: $space-1; padding-bottom: $space-1}
.py\:xs{padding-top: $space-2; padding-bottom: $space-2}
.py\:sm{padding-top: $space-3; padding-bottom: $space-3}
.py\:md{padding-top: $space-4; padding-bottom: $space-4}
.py\:lg{padding-top: $space-5; padding-bottom: $space-5}
.py\:xl{padding-top: $space-6; padding-bottom: $space-6;}
.py\:xxl{padding-top: $space-7; padding-bottom: $space-7}